<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kgc.ssm.dao.AppVersionMapper" >
  <resultMap id="BaseResultMap" type="cn.kgc.ssm.pojo.AppVersion" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="appId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="versionNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="versionInfo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="publishStatus" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="downloadLink" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="versionSize" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="createdBy" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="creationDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifyBy" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="modifyDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="apkLocPath" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="apkFileName" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, versionNo, versionInfo, publishStatus, downloadLink, versionSize, createdBy, 
    creationDate, modifyBy, modifyDate, apkLocPath, apkFileName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from app_version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.kgc.ssm.pojo.AppVersion" >
    insert into app_version (id, appId, versionNo, 
      versionInfo, publishStatus, downloadLink, 
      versionSize, createdBy, creationDate, 
      modifyBy, modifyDate, apkLocPath, 
      apkFileName)
    values (#{id,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT}, #{versionNo,jdbcType=VARCHAR}, 
      #{versionInfo,jdbcType=VARCHAR}, #{publishStatus,jdbcType=BIGINT}, #{downloadLink,jdbcType=VARCHAR}, 
      #{versionSize,jdbcType=DECIMAL}, #{createdBy,jdbcType=BIGINT}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{modifyBy,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}, #{apkLocPath,jdbcType=VARCHAR}, 
      #{apkFileName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.kgc.ssm.pojo.AppVersion" >
    insert into app_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="versionNo != null" >
        versionNo,
      </if>
      <if test="versionInfo != null" >
        versionInfo,
      </if>
      <if test="publishStatus != null" >
        publishStatus,
      </if>
      <if test="downloadLink != null" >
        downloadLink,
      </if>
      <if test="versionSize != null" >
        versionSize,
      </if>
      <if test="createdBy != null" >
        createdBy,
      </if>
      <if test="creationDate != null" >
        creationDate,
      </if>
      <if test="modifyBy != null" >
        modifyBy,
      </if>
      <if test="modifyDate != null" >
        modifyDate,
      </if>
      <if test="apkLocPath != null" >
        apkLocPath,
      </if>
      <if test="apkFileName != null" >
        apkFileName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=BIGINT},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="versionInfo != null" >
        #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null" >
        #{publishStatus,jdbcType=BIGINT},
      </if>
      <if test="downloadLink != null" >
        #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="versionSize != null" >
        #{versionSize,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="apkLocPath != null" >
        #{apkLocPath,jdbcType=VARCHAR},
      </if>
      <if test="apkFileName != null" >
        #{apkFileName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.kgc.ssm.pojo.AppVersion" >
    update app_version
    <set >
      <if test="appId != null" >
        appId = #{appId,jdbcType=BIGINT},
      </if>
      <if test="versionNo != null" >
        versionNo = #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="versionInfo != null" >
        versionInfo = #{versionInfo,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null" >
        publishStatus = #{publishStatus,jdbcType=BIGINT},
      </if>
      <if test="downloadLink != null" >
        downloadLink = #{downloadLink,jdbcType=VARCHAR},
      </if>
      <if test="versionSize != null" >
        versionSize = #{versionSize,jdbcType=DECIMAL},
      </if>
      <if test="createdBy != null" >
        createdBy = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="creationDate != null" >
        creationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        modifyBy = #{modifyBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="apkLocPath != null" >
        apkLocPath = #{apkLocPath,jdbcType=VARCHAR},
      </if>
      <if test="apkFileName != null" >
        apkFileName = #{apkFileName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.kgc.ssm.pojo.AppVersion" >
    update app_version
    set appId = #{appId,jdbcType=BIGINT},
      versionNo = #{versionNo,jdbcType=VARCHAR},
      versionInfo = #{versionInfo,jdbcType=VARCHAR},
      publishStatus = #{publishStatus,jdbcType=BIGINT},
      downloadLink = #{downloadLink,jdbcType=VARCHAR},
      versionSize = #{versionSize,jdbcType=DECIMAL},
      createdBy = #{createdBy,jdbcType=BIGINT},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      apkLocPath = #{apkLocPath,jdbcType=VARCHAR},
      apkFileName = #{apkFileName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>